body {
  margin: 0;
  padding:0;
  background-color: #f8f8ff;
}

#Header {
  padding: 5px 0px 5px 0px;
  background-color: #191970;
  display: inline-block;
}

#HeaderLogo {
  width:  80px;
  height: auto;
  margin: 0;
}

#MainFrame {
  margin: 0;
  width:  auto;
  height: auto;
}
