body {
  margin: 0;
  padding:0;
  background-color: #f8f8ff;
}

#Header {
  margin:  0;
  padding: 0;
  height: auto;
  width:  auto;
  background-color: #191970;
}

#HeaderLogo {
  height: 50px;
  width:  auto;
  margin: 5px;
  float: left;
}

#Index {
  display: inline-block;
  margin-left: 10px;
  float: left;
  list-style: none;
}

#MainFrame {
  margin: 0;
  width:  auto;
  height: auto;
}
